<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../favicon.png" type="image/x-icon" />
    <title>Home - Server Template</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    html,
    body {
      height: 100%;
      width: 100%;
    }

    .main-ctn {
      min-height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: ui-sans-serif, system-ui, sans-serif, Apple Color Emoji,
        Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
      background-color: #dbeafe;
      padding: 20px;
    }

    .heading {
      text-align: center;
      font-size: 54px;
      font-weight: 800;
      letter-spacing: 3px;
      color: black;
    }
  </style>
  <body>
    <div class="main-ctn">
      <h1 class="heading">Server is up & running 😉.....</h1>
    </div>
  </body>
</html>
